@model AssignReservationResultViewModel
@{
    ViewData["Title"] = "Check In";
}
<!-- Header Image -->
<div class="row">
    <div class="col">
        <div class="jumbotron jumbotron-fluid"
            style="background-image: url('/images/rooms-header-image.png'); background-size: cover; height: 200px;">
            <div class="container">
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12">
        <div @if(Model.IsCheckin && Model.IsRoomAssigned){<text>class="alert alert-success"</text>}else{<text>class="alert alert-danger"</text>} role="alert">
            @Model.Message
        </div>
    </div>
</div>


